body {
   position: relative;
   width: 100%;
   font-family: "satoshi", sans;
   color: white;
   overflow-x: hidden;
}



a:link{
   text-decoration: none;
   color: white;
}

a:visited{
   text-decoration: none;
   color: white;
}

a:hover{
   color: #ff7f50;
   /* text-decoration: underline;
   text-decoration-thickness: 1.5px; */
   transition: 0.2s;
}

.header {
   position: relative;
   display: flex;
   top: 2rem;
   width: 100%;
   justify-content: flex-end;
   padding-left: 3.6rem;
   padding-right: 5rem;
   font-size: 1.2rem;
   font-weight: 700;
   box-sizing: border-box;
   z-index: 20;
}


.header div {
   margin-left: 3rem;
}


/* Title */
section.title {
   position: relative;
   width: 100%;
   height: 100vh;
   padding-left: 5rem;
   box-sizing: border-box;
}
section.title .titleBox {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}
section.title .titleBox h1 {
   font-size: 8rem;
   font-weight: 700;
   margin-bottom: 1rem;
}

section.title .titleBox .position {
   margin-top: 2rem;
   font-family: "times", sans;
   font-weight: 400;
   font-size: 4.5rem;
   line-height: 5.25rem;
}
section.title .titleBox .position span {
   font-family: "satoshi", sans;
   font-size: 3rem;
   line-height: 4rem;
   letter-spacing: -0.06em;
   color: #7a7a7a;
}

/* main works */
section.mainWorks {
   position: relative;
   padding-left: 5rem;
   box-sizing: border-box;
}
section.mainWorks h2 {
   font-weight: 500;
   font-size: 3rem;
   letter-spacing: -0.06em;
}
section.mainWorks .worksBox {
   margin-top: 3.25rem;
   border-top: 2px solid #7c7c7c;
   border-bottom: 2px solid #7c7c7c;
}

section.mainWorks .worksBox .workRow {
   display: flex;
   height: 46rem;
   padding-right: 5rem;
   align-items: center;
   cursor: move;
   overflow-x: scroll;

   /* hide scrollbar */
   scrollbar-width: none;
   -ms-overflow-style: none;
}
section.mainWorks .worksBox .workRow::-webkit-scrollbar {
   display: none;
}

section.mainWorks .divide {
   width: 100%;
   height: 2px;
   background-color: #7c7c7c;
}
section.mainWorks .worksBox .workRow .descContainer {
   width: 30rem;
   height: 30.9375rem;
   flex-shrink: 0;
}
section.mainWorks .worksBox .workRow .descContainer .meta {
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.375rem;
   letter-spacing: -0.06em;
   color: #d3d3d3;
}
section.mainWorks .worksBox .workRow .descContainer .title {
   margin-top: 1.6rem;
   font-family: "times";
   font-size: 6rem;
   letter-spacing: -0.06em;
}
section.mainWorks .worksBox .workRow .descContainer .desc {
   margin-top: 4.6rem;
   font-weight: 100;
   font-size: 1.25rem;
   line-height: 160%;
   letter-spacing: 0.02rem;
   color: #d3d3d3;
}
section.mainWorks .worksBox .workRow .descContainer .desc .bold {
   font-weight: 700;
   color: white;
}

section.mainWorks .worksBox .workRow .imageList {
   display: flex;
   flex: 1;
   height: 30.9375rem;
   margin-left: 12.5rem;
}
section.mainWorks .worksBox .workRow .imageList img {
   margin-left: 0.625rem;
   user-select: none;
}

/* more works */
section.moreWorks {
   position: relative;
   margin-top: 24rem;
   width: 100%;
   padding-left: 5rem;
   box-sizing: border-box;
}
section.moreWorks h2 {
   font-weight: 500;
   font-size: 3rem;
   letter-spacing: -0.06em;
}
section.moreWorks .boxContainer {
   margin-top: 3.75rem;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   justify-items: between;
   grid-row-gap: 12rem;
   grid-column-gap: 0rem;
}
section.moreWorks .boxContainer .box {
   position: relative;
   max-width: 85%;
}
section.moreWorks .boxContainer .box .title {
   margin-top: 2.5rem;
   font-weight: 700;
   font-size: 2rem;
   line-height: 120%;
   letter-spacing: -0.02em;
   color: white;
}
section.moreWorks .boxContainer .box .description {
   margin-top: 1.5rem;
   font-weight: 400;
   font-size: 1.25rem;
   line-height: 140%;
   letter-spacing: -0.06em;

   color: #7c7c7c;
}

section.moreWorks .boxContainer .box img{
   max-width: 100%;
   height: auto;
   object-fit: contain;
}



/* about */
section.about {
   display: flex;
   width: 100%;
   margin-top: 24rem;
   padding-left: 5rem;
   box-sizing: border-box;
   align-items: flex-start;
}


section.about img{
   width: 30%;
   height: auto;
   object-fit: contain;
}

section.about .aboutBox {
   margin-left: 6rem;
   margin-right: 6rem; 
}
section.about .aboutBox .title {
   font-weight: 500;
   font-size: 6rem;
   line-height: 100%;
   letter-spacing: -0.06em;
}
section.about .aboutBox .description {
   width: rem;
   margin-top: 2rem;
   font-weight: 400;
   font-size: 2.2rem;
   line-height: 120%;
}
section.about .aboutBox .link {
   color: #7a7a7a;
   margin-top: 2.5rem;
   font-weight: 400;
   font-size: 1.25rem;
   line-height: 120%;

   letter-spacing: -0.02em;
}
section.about .aboutBox .careers {
   margin-top: 6.25rem;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 140%;
   letter-spacing: -0.06em;
   color: #7a7a7a;
}
section.about .aboutBox .careers span {
   font-size: 1.6em;
   line-height: 140%;
   color: #ffffff;
}

/* contact */
section.contact {
   position: relative;
   width: 100%;
   margin-top: 24rem;
   margin-bottom: 17.5rem;
   padding-left: 6rem;
   padding-right: 6rem;
   box-sizing: border-box;
}
section.contact .container {
   display: flex;
}
section.contact .container div:first-child {
   font-weight: 500;
   font-size: 2rem;
   letter-spacing: -0.06em;
}
section.contact .container div:nth-child(2) {
   margin-left: 7.5rem;
   font-weight: 700;
   font-size: 6rem;
}

section.contact .container:nth-child(2) {
   margin-top: 17.5rem;
}
section.contact .container:nth-child(2) div:first-child {
   font-weight: 400;
   font-size: 2rem;
   letter-spacing: -0.06em;
}
section.contact .container:nth-child(2) div:nth-child(2) {
   font-weight: 700;
   font-size: 2.5rem;
   letter-spacing: -0.06em;
}
section.contact .container:nth-child(2) div:nth-child(2) li {
   margin-bottom: 2.5rem;
}

/* Footer */
.fixedFooter {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100vw;
   height: 4rem;
   display: flex;
   justify-content: space-between;
   padding: 0 5rem;
   align-items: center;
   font-size: 1rem;
   font-weight: 500;
   box-sizing: border-box;
   background-color: #080808;
}

.fixedFooter .external {
   display: flex;
   align-items: center;
}
.fixedFooter .external div:first-child {
   margin-right: 2.5rem;
}




/* Tablet */
@media only screen and (max-width: 1080px) {

   /* header */
   .header {
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: 1rem;
   }

   .header div{
      margin-left: 1.5rem;
   }


   /* Main title */

   section.title {
      padding-left: 2rem;
      padding-right: 2rem;
   }

   section.title .titleBox h1 {
      font-size: 6rem;
      margin-bottom: 1rem;
   }

   section.title .titleBox .position {
      margin-top: 1.5rem;
      font-size: 3rem;
      line-height: 3rem;
   }
   section.title .titleBox .position span {
      font-size: 3rem;
      line-height: 4rem;
      letter-spacing: -0.06em;
   }



   /* Main Works */
   section.mainWorks {
      padding-left: 2rem;
   }
   section.mainWorks h2 {
      font-size: 2.5rem;
   }
   section.mainWorks .worksBox {
      margin-top: 2rem;
      border-top: 2px solid #7c7c7c;
      border-bottom: 2px solid #7c7c7c;
   }
   
   section.mainWorks .worksBox .workRow {
      display: flex;
      height: 36rem;
      align-items: center;
   }
   
   section.mainWorks .worksBox .workRow .descContainer {
      width: 26rem;
      height: 30rem;
   }
   section.mainWorks .worksBox .workRow .descContainer .meta {
      font-size: 1.25rem;
      line-height: 1.1rem;
   }
   section.mainWorks .worksBox .workRow .descContainer .title {
      margin-top: 1.4rem;
      font-size: 5.2rem;
   }
   section.mainWorks .worksBox .workRow .descContainer .desc {
      margin-top: 3.2rem;
      font-size: 1.25rem;
   }

   section.mainWorks .worksBox .workRow .imageList {
      height: 28rem;
      margin-left: 9rem;
   }



   /* more works */
   section.moreWorks {
      margin-top: 18rem;
      padding-left: 2rem;
   }
   section.moreWorks h2 {
      font-size: 2.5rem;
   }

   section.moreWorks .boxContainer {
      margin-top: 3.75rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
   }

   section.moreWorks .boxContainer .box .title {
      margin-top: 2rem;
      font-size: 1.4rem;
      line-height: 120%;
   }

   section.moreWorks .boxContainer .box .description {
      margin-top: 1.25rem;
   }


   /* about */
   section.about {
      margin-top: 18rem;
      padding-left: 2rem;
      display: flex;
      flex-wrap: wrap;
   }

   section.about img{
      width: 0%;
   }

   section.about .aboutBox {
      margin-top: 2rem;
      margin-left: 0rem;
      margin-right: 2rem; 
   }

   section.about .aboutBox .title {
      font-size: 4rem;
   }

   section.about .aboutBox .description {
      margin-top: 2rem;
      font-size: 1.6rem;
   }
   section.about .aboutBox .link {
      margin-top: 2rem;
      font-size: 1.25rem;
   }
   section.about .aboutBox .careers {
      margin-top: 6rem;
      font-size: 1.25rem;
   }
   section.about .aboutBox .careers span {
      font-size: 1.4rem;
   }


   
   /* contact */
   section.contact {
      margin-top: 18rem;
      margin-bottom: 14rem;
      padding-left: 2rem;
      padding-right: 2rem;
   }

   section.contact .container div:first-child {
      font-size: 1.6rem;
   }
   section.contact .container div:nth-child(2) {
      margin-left: 5rem;
      font-size: 4rem;
   }

   section.contact .container:nth-child(2) {
      margin-top: 14rem;
   }

   section.contact .container:nth-child(2) div:first-child {
      font-size: 1.6rem;
   }

   section.contact .container:nth-child(2) div:nth-child(2) {
      font-size: 2rem;
   }
   section.contact .container:nth-child(2) div:nth-child(2) li {
      margin-bottom: 2rem;
   }


   /* Footer */
   .fixedFooter {
      padding: 2rem;
      font-size: 1rem;
   }

   .fixedFooter .external div:first-child {
      margin-right: 2rem;
   }


}





/* Phone */
@media only screen and (max-width: 480px) {

   *{
      margin: 0px;
      padding: 0px;
   }
   /* header */
   .header {
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      font-size: 0.8rem;
   }

   .header div{
      margin-left: 1.5rem;
   }


   /* Main title */

   section.title {
      padding-left: 2rem;
      padding-right: 2rem;
   }

   section.title .titleBox h1 {
      font-size: 4rem;
      margin-bottom: 1rem;
   }

   section.title .titleBox .position {
      margin-top: 1.5rem;
      font-size: 1.6rem;
      line-height: 3rem;
   }
   section.title .titleBox .position span {
      font-size: 1.25rem;
      line-height: 4rem;
      letter-spacing: -0.06em;
   }



   /* Main Works */
   section.mainWorks {
      padding-left: 1rem;
      margin-top: 4rem;
   }
   section.mainWorks h2 {
      font-size: 1.6rem;
   }
   section.mainWorks .worksBox {
      margin-top: 2rem;
   }
   
   section.mainWorks .worksBox .workRow {
      display: flex;
      height: 28rem;
      align-items: center;
   }
   
   section.mainWorks .worksBox .workRow .descContainer {
      width: 20rem;
      height: 24rem;
   }
   section.mainWorks .worksBox .workRow .descContainer .meta {
      font-size: 1.15rem;
      line-height: 1.1rem;
   }
   section.mainWorks .worksBox .workRow .descContainer .title {
      margin-top: 1.4rem;
      font-size: 4rem;
   }
   section.mainWorks .worksBox .workRow .descContainer .desc {
      margin-top: 3.2rem;
      font-size: 1.15rem;
   }

   section.mainWorks .worksBox .workRow .imageList {
      height: 24rem;
      margin-left: 9rem;
   }



   /* more works */
   section.moreWorks {
      margin-top: 10rem;
      padding-left: 1rem;
   }
   section.moreWorks h2 {
      font-size: 1.6rem;
   }

   section.moreWorks .boxContainer {
      margin-top: 2rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
      margin-right: 1rem;
      grid-row-gap: 6rem;
   }

   section.moreWorks .boxContainer .box{
      max-width: 100%;
   }

   section.moreWorks .boxContainer .box .title {
      margin-top: 1rem;
      font-size: 1.4rem;
      line-height: 120%;
   }

   section.moreWorks .boxContainer .box .description {
      margin-top: 1.25rem;
   }

   section.moreworks .boxContainer img{
      width: 120%;
   }


   /* about */
   section.about {
      margin-top: 10rem;
      padding-left: 1rem;
      flex-wrap: wrap;
   }

   section.about img{
      width: 0%;
   }

   section.about .aboutBox {
      margin-top: 1rem;
      margin-left: 0rem;
      margin-right: 1rem; 
   }

   section.about .aboutBox .title {
      font-size: 3rem;
   }

   section.about .aboutBox .description {
      margin-top: 2rem;
      font-size: 1.4rem;
   }
   section.about .aboutBox .link {
      margin-top: 2rem;
      font-size: 1.15rem;
   }
   section.about .aboutBox .careers {
      margin-top: 6rem;
      font-size: 1.15rem;
   }
   section.about .aboutBox .careers span {
      font-size: 1.15rem;
   }


   
   /* contact */
   section.contact {
      margin-top: 10rem;
      margin-bottom: 10rem;
      padding-left: 1rem;
      padding-right: 1rem;
   }

   section.contact .container div:first-child {
      font-size: 1.25rem;
   }
   section.contact .container div:nth-child(2) {
      margin-left: 2rem;
      font-size: 1.6rem;
   }

   section.contact .container:nth-child(2) {
      margin-top: 10rem;
   }

   section.contact .container:nth-child(2) div:first-child {
      font-size: 1.25rem;
   }

   section.contact .container:nth-child(2) div:nth-child(2) {
      font-size: 1.6rem;
   }
   section.contact .container:nth-child(2) div:nth-child(2) li {
      margin-bottom: 2rem;
   }


   /* Footer */
   .fixedFooter {
      position: fixed;
      padding: 2rem;
      font-size: 1rem;
   }

   .fixedFooter .external div:first-child {
      margin-right: 2rem;
   }


}




